.privacy {
  margin-top: 150px;
  margin-bottom: 150px;

  @media (max-width: 620px) {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 80px;
  }
}

.privacy__content {
  font-family: Montserrat;
  color: #000000;
  font-size: 15px;
  text-decoration: none solid rgb(0, 0, 0);
  line-height: 28px;

  @media (max-width: 400px) {
    text-align: center;
    width: 90%;
    h1 {
      font-size: 30px !important;
    }
  }

  h1 {
    font-size: 36px;
    font-weight: 800;
  }

  h2 {
    font-size: 24px;
    font-weight: 800;
  }

  h3 {
    font-size: 15px;
    font-weight: 800;
    margin-top: 5em;
  }

  p {
    margin-bottom: 20px;
  }
}

.u-link span {
  line-height: 17px;
  @media (max-width: 400px) {
    font-size: 3vw;
  }
}
.praferenzmanagement {
  @media (max-width: 400px) {
    font-size: 2.5vw !important;
  }
}
