.hash-list-item {
  display: flex;
  font-size: 16px;
  margin-bottom: 30px;
  align-items: center;
}

.hash-list-item__hash {
  font-size: 48px;
  margin-right: 20px;
  font-weight: 600;
  color: rgba(37, 37, 37, 0.25);
  
  @media (max-width: 850px) {
    font-size: 36px;
  } 
}

