textarea {
  font-family: 'Montserrat';
}

.application-form-plate {
  text-align: center;
  padding-top: 55px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  position: relative;
  top: -100px;
  width: 100%;
  max-width: 780px;

  @media (max-width: 620px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.application-form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -100px;
}

.application-form__field-wrapper {
  width: 80%;
  margin-bottom: 50px;
}

.application-form__label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
  font-size: calc(14px + 0.7vw);
  font-weight: 700;

  @media (min-width: 920px) {
    font-size: 18px;
  }
}

.application-form__input {
  width: 100%;
  height: 62px;
  border: 0px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: calc(12px + 0.6vw);
  font-weight: 300;
  background-color: #f3f3f3;
  font-family: Montserrat;

  @media (min-width: 920px) {
    font-size: 18px;
  }

  &--textarea {
    height: 62px;
    padding: 10px;
  }
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url('/assets/icons/chevron-down-black.svg');
  background-size: 22px;
  background-position: 95.7% 50%;
  background-repeat: no-repeat;
}

select.application-form__input {
  height: 64px;
  background-color: white;
  border: 5px solid #f3f3f3;
}

.application-form__input[type='file'] {
  position: fixed;
  top: -9999px;
}

.application_form__file-input-overlay {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 100px);
  text-align: left;
}

.application-form__file-button {
  width: 90px;
  height: 62px;
  position: relative;
  left: 10px;
  margin-right: 10px;
  top: 3px;
  cursor: pointer;
  border: 0;
  &--se {
    background-color: var(--hollywoord-cerise);
  }

  &--ai {
    background-color: var(--wisteria);
  }

  &--ixd {
    background-color: var(--yellow-sea);
  }

  &--pm {
    background-color: var(--picton-blue);
  }
}

.scholarship-fieldset,
.consent-fieldset {
  border: 0;
  text-align: left;
}

#scholarship-1,
#scholarship-2,
#consent-radio {
  opacity: 0;
  z-index: 1;
  position: relative;
}

.scholarship-radio-label,
.consent-radio-label {
  position: relative;
  left: -3px;
  top: -22px;
  display: flex;
  font-size: calc(12px + 0.6vw);

  @media (min-width: 920px) {
    font-size: 18px;
  }
}

.scholarship-radio-label::before,
.consent-radio-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid black;
  flex-shrink: 0;
  margin-right: 15px;
}

.scholarship-1-se:focus + .scholarship-radio-label-se::before,
.scholarship-2-se:focus + .scholarship-radio-label-se::before,
.consent-radio-se:focus + .consent-radio-label-se::before {
  border: 4px solid var(--hollywoord-cerise);
}

.scholarship-1-pm:focus + .scholarship-radio-label-pm::before,
.scholarship-2-pm:focus + .scholarship-radio-label-pm::before,
.consent-radio-pm:focus + .consent-radio-label-pm::before {
  border: 4px solid var(--picton-blue);
}

.scholarship-1-ixd:focus + .scholarship-radio-label-ixd::before,
.scholarship-2-ixd:focus + .scholarship-radio-label-ixd::before,
.consent-radio-ixd:focus + .consent-radio-label-ixd::before {
  border: 4px solid var(--yellow-sea);
}

.scholarship-1-ai:focus + .scholarship-radio-label-ai::before,
.scholarship-2-ai:focus + .scholarship-radio-label-ai::before,
.consent-radio-ai:focus + .consent-radio-label-ai::before {
  border: 4px solid var(--wisteria);
}

.scholarship-1:checked + .scholarship-radio-label::after,
.scholarship-2:checked + .scholarship-radio-label::after,
.consent-radio:checked + .consent-radio-label::after {
  content: '';
  opacity: 1;
  display: inline-block;
  width: 7px;
  height: 12px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 9px;
  margin-right: 15px;
}

.scholarship-1-se:focus + .scholarship-radio-label-se::after,
.scholarship-2-se:focus + .scholarship-radio-label-se::after,
.consent-radio-se:focus + .consent-radio-label-se::after {
  border-bottom: 2px solid var(--hollywoord-cerise);
  border-right: 2px solid var(--hollywoord-cerise);
}

.scholarship-1-pm:focus + .scholarship-radio-label-pm::after,
.scholarship-2-pm:focus + .scholarship-radio-label-pm::after,
.consent-radio-pm:focus + .consent-radio-label-pm::after {
  border-bottom: 2px solid var(--picton-blue);
  border-right: 2px solid var(--picton-blue);
}

.scholarship-1-ixd:focus + .scholarship-radio-label-ixd::after,
.scholarship-2-ixd:focus + .scholarship-radio-label-ixd::after,
.consent-radio-ixd:focus + .consent-radio-label-ixd::after {
  border-bottom: 2px solid var(--yellow-sea);
  border-right: 2px solid var(--yellow-sea);
}

.scholarship-1-ai:focus + .scholarship-radio-label-ai::after,
.scholarship-2-ai:focus + .scholarship-radio-label-ai::after,
.consent-radio-ai:focus + .consent-radio-label-ai::after {
  border-bottom: 2px solid var(--wisteria);
  border-right: 2px solid var(--wisteria);
}

.application-form__submit {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  box-sizing: content-box;
  font-size: 16px;
  font-weight: 700;
  width: 70%;
  max-width: 300px;
  height: 35px;
  background-color: white;
  text-transform: uppercase;

  &--se {
    color: var(--hollywoord-cerise);
    border: 4px solid var(--hollywoord-cerise);
  }

  &--pm {
    color: var(--picton-blue);
    border: 4px solid var(--picton-blue);
  }

  &--ixd {
    color: var(--yellow-sea);
    border: 4px solid var(--yellow-sea);
  }

  &--ai {
    color: var(--wisteria);
    border: 4px solid var(--wisteria);
  }
}

.consent-description {
  font-weight: 400;
}

.notbold {
  font-weight: 400;
}
