.application-form-plate {
  text-align: center;
  padding: 55px 5%;
  background-color: white;
  position: relative;
  top: -100px;
  width: 100%;
  max-width: 780px;
}

.application-form-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.application-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.application-form__field-wrapper {
  width: 80%;
  margin-bottom: 50px;
}

.application-form__label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
  padding-left: 5px;
  font-weight: 900;
  font-size: 17px;
}

.application-form__input {
  width: 100%;
  height: 62px;
  border: 0px;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 20px;
  font-weight: 300;
  background-color: #f3f3f3;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background-image: url('/assets/icons/chevron-down-black.svg');
  background-size: 22px;
  background-position: 95.7% 50%;
  background-repeat: no-repeat;
}

select.application-form__input {
  height: 64px;
  background-color: white;
  border: 5px solid #f3f3f3;
}

.application-form__input[type='file'] {
  position: fixed;
  top: -9999px;
}
/* 
.application-form__input[type="file"]:focus ~ .application_form__file-input-overlay {
  box-shadow: 0 0 5px rgba(102, 158, 241, 1);
  border: 3px solid rgba(102, 158, 241, 1);
  border-radius: 3px;
} */

.application_form__file-input-overlay {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  width: calc(100% - 100px);
}

.application-form__file-button {
  width: 90px;
  height: 62px;
  position: relative;
  left: 10px;
  margin-right: 10px;
  top: 4px;
  cursor: pointer;
  border: 0;
  &--se {
    background-color: var(--hollywoord-cerise);
  }
}

.scholarship-fieldset {
  border: 0;
  text-align: left;
}

#scholarship-1,
#scholarship-2 {
  opacity: 0;
  z-index: 1;
  position: relative;
}

.scholarship-radio-label {
  position: relative;
  left: -3px;
  top: -22px;
  display: flex;
}

.scholarship-radio-label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 4px solid black;
  flex-shrink: 0;
  margin-right: 15px;
}

#scholarship-1:focus + .scholarship-radio-label::before,
#scholarship-2:focus + .scholarship-radio-label::before {
  border: 4px solid var(--hollywoord-cerise);
}

#scholarship-1:checked + .scholarship-radio-label::after,
#scholarship-2:checked + .scholarship-radio-label::after {
  content: '';
  opacity: 1;
  display: inline-block;
  width: 7px;
  height: 12px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  position: absolute;
  top: 4px;
  left: 9px;
  margin-right: 15px;
}

#scholarship-1:focus + .scholarship-radio-label::after,
#scholarship-2:focus + .scholarship-radio-label::after {
  border-bottom: 2px solid var(--hollywoord-cerise);
  border-right: 2px solid var(--hollywoord-cerise);
}
