.roles__content__description {
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 10px;

  @media (max-width: 920px) {
    grid-gap: 0;
    grid-template-columns: auto;
  }
}

.roles {
  margin-bottom: 150px;

  @media (max-width: 620px) {
    margin-bottom: 75px;
  }
}
