.team__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.team__card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 300px;
  z-index: 0;

  & .team__card__profile-image {
    cursor: pointer;
    border: solid 4px #e7e7e7;
    width: 300px;
    height: 200px;
  }

  & .team__card__description {
    font-size: 14px;
    overlfow: hidden;
    margin-bottom: 5px;
  }

  & .team__card__icon {
    z-index: 1;
    width: 15px;

    & img {
      width: 15px;
    }
  }
}

.team__card__readmore {
  cursor: pointer;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
