.team__title {
  font-size: calc(14px+ 0.7vw);
  font-weight: 900;

  @media (min-width: 1280px) {
    font-size: 24px;
  }
}

.team__name {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: calc(12px+ 0.4vw);

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.team__cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.team__card {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 300px;
  z-index: 0;

  & .team__card__profile-image {
    cursor: pointer;
    border: solid 4px #e7e7e7;
    width: 300px;
    height: 200px;
  }

  & .team__card__description {
    font-size: calc(10px + 0.2vw);
    overflow: hidden;
    margin-bottom: 5px;
    line-height: 28px;

    @media (min-width: 1280px) {
      font-size: 14px;
    }
  }

  & .team__card__icon {
    z-index: 1;
    width: 15px;

    & img {
      width: 15px;
    }
  }
}

.team__card__readmore {
  cursor: pointer;
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}
