.faq {
  margin-top: -150px;

  @media (max-width: 620px) {
    margin-top: -100px;
  }
}

.faq__title {
  max-width: var(--max-width);
  flex-grow: 1;
  font-weight: 700;
  font-size: calc(12px+ 0.4vw);
  line-height: 34px;

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.faq__content {
  font-size: calc(10px+ 0.2vw);
  line-height: 28px;
  background-color: white;
  padding: 40px 65px;
  max-width: 620px;
  width: 70%;

  @media (max-width: 620px) {
    padding: 40px 40px;
  }

  @media (min-width: 1280px) {
    font-size: 14px;
  }
}
