.industry-partners__title {
  margin-top: 110px;
  margin-bottom: 10px;
}

.industry-partners__description {
  line-height: 34px;
  font-size: 18px;
}

.industry-partners__logo {
  text-align: center;
  position: relative;

  & img {
    float: left;
    width: 20%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
  }
}
