.nav {
  background-color: transparent;
  border-bottom: solid var(--gallery) 2px;
  display: grid;
  justify-items: center;
  height: var(--nav-height-desktop);
  width: 100%;

  @media (max-width: 620px) {
    height: var(--nav-height-mobile);
  }
}

.nav.nav--black {
  background-color: white;
  border-bottom: solid black 2px;
  z-index: 2;
}

.nav__content {
  align-items: center;
  color: white;
  display: grid;
  font-size: 14px;
  font-weight: 700;
  grid-auto-flow: column;
  justify-content: space-between;

  .nav--black {
    color: black;
  }

  @media (min-width: 621px) {
    &--mobile {
      display: none;
    }

    &--desktop {
      display: visible;
    }
  }

  @media (max-width: 620px) {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: visible;
    }
  }
}

.nav__menu {
  padding: 0;

  @media (max-width: 620px) {
    font-size: 12px;
  }

  @media (max-width: 360px) {
    font-size: 10px;
  }

  @media (max-width: 310px) {
    font-size: 12px;
  }

  &--mobile {
    position: fixed;
    top: 86px;
    right: -250px;
    background-color: white;
    margin: 0;
    bottom: 0;
    width: 250px;
    transition: transform 0.3s;
    flex-direction: column;
    display: flex;
    z-index: 10;
  }

  &--mobile-open {
    transform: translateX(-250px);
  }
}

.nav__hamburger-icon {
  width: 30px;
}

.nav__menu__item {
  position: relative;
  display: inline-block;
  padding-left: 18px;
  padding-right: 18px;
  margin-top: 30px;
  padding-bottom: 30px;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      color: var(--picton-blue) !important;
    }
  }

  &--mobile {
    margin: 50px 30px 10px 30px;
    font-size: 18px;
  }

  &--mobile {
    a {
      color: black;
    }
  }
}

.nav__content.nav--black .nav__menu__item {
  display: inline;
  margin-left: 18px;
  margin-right: 18px;

  a {
    color: black;
    text-decoration: none;
  }
}

.nav__logo {
  height: 49px;

  @media (max-width: 620px) {
    height: 25px;
  }

  @media (max-width: 360px) {
    height: 20px;
  }

  @media (max-width: 310px) {
    display: none;
  }
}

.tracks-menu {
  &--desktop {
    position: absolute;
    background-color: white;
    color: black;
    right: -25px;
    top: 40px;
    width: 200px;
    left: -50px;
    padding: 30px;

    &--inverted {
      color: white;
      background-color: black;
    }
  }

  &--desktop::before {
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    left: 82px;
  }

  &--desktop--inverted::before {
    border-bottom: 10px solid black;
  }
}
