.header-section {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 650px;
  z-index: -1;
  padding-top: 133px;
  margin-top: -133px;

  @media (max-width: 780px) {
    height: 500px;
  }
}

.header-section__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 12%;
  margin-top: 131px;
}

.header-section__content__title {
  margin: 0;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  font-size: calc(32px + 3vw);

  @media (min-width: 1280px) {
    font-size: 72px;
  }
}

.header-image-content__text {
  box-sizing: border-box;
  background-color: white;
  font-weight: 600;
  width: 80%;
  align-items: center;
  margin-top: -8%;
  display: flex;
  box-shadow: 12px 12px 26px rgba(0, 0, 0, 0.15);
  z-index: 0;
  height: 300px;
  padding: 5%;

  @media (max-width: 950px) {
    height: inherit;
  }
}

.header-image-content__text p {
  line-height: 34px;
  margin: 0;
  font-size: calc(12px + 0.4vw);

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.header-image-content {
  display: flex;
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - var(--nav-height-desktop));
  padding-bottom: 35px;
  text-transform: none;

  @media (max-width: 780px) {
    padding-bottom: 20px;
  }
}

.header-content__title {
  margin: 0;
  color: white;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 800;

  @media (max-width: 950px) {
    font-size: 62px;
  }
  @media (max-width: 780px) {
    font-size: 32px;
    margin-top: 10px;
  }

  &--first {
    margin-bottom: -15px;
  }
}
.header-content__title--first {
  margin-top: 50px;
  @media (max-width: 950px) {
    font-size: 52px;
    margin-top: 0px;
  }
}

.header-content__description {
  color: white;
  max-width: var(--max-width);
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;
  text-transform: none;

  @media (max-width: 780px) {
    display: none;
  }
}

.header-content__buttons {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 214px auto;

  @media (max-width: 1191px) {
    margin-top: 30px;
  }

  @media (max-width: 780px) {
    grid-auto-flow: row;
    grid-template-columns: 1fr;

    & .u-button__apply {
      width: 100%;
    }
  }
}

.header-content__call-to-action {
  width: 325px;
  height: 42px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 780px) {
    width: 100%;
  }
}
