.or {
  background-color: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 50px;

  @media (max-width: 850px) {
    padding-top: 50px;
    padding-bottom: 25px;
  }
}

.or__title {
  font-size: calc(14px + 0.7vw);
  text-transform: uppercase;

  @media (min-width: 1280px) {
    font-size: 24px;
  }
}

.or__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 50px;

  @media (max-width: 850px) {
    grid-template-columns: 1fr;
  }
}
