.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100% - var(--nav-height-desktop));
  padding-bottom: 35px;

  @media (max-width: 620px) {
    padding-bottom: 20px;
  }
}

.header-content__title {
  margin: 0;
  color: white;
  font-size: 84px;
  text-transform: uppercase;
  font-weight: 800;

  @media (max-width: 620px) {
    font-size: 32px;
    margin-top: 10px;
  }

  &--first {
    margin-bottom: -15px;
  }
}

.header-content__description {
  color: var(--gallery);
  max-width: var(--max-width);
  margin-top: 30px;
  font-size: 24px;
  font-weight: 700;

  @media (max-width: 620px) {
    display: none;
  }
}

.header-content__buttons {
  margin-top: 50px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 214px auto;

  @media (max-width: 1191px) {
    margin-top: 30px;
  }

    @media (max-width: 620px) {
      grid-auto-flow: row;
      grid-template-columns: 1fr;
  }
}

.header-content__buttons__apply {
  width: 214px;
  height: 42px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 620px) {
    width: 100%;
  }
}

.header-content__buttons__more {
  background-color: transparent;
  border: 4px solid white;
  color: white;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  width: 329px;
  text-transform: uppercase;

  @media (max-width: 620px) {
    width: 100%;
  }

  &:hover {
    background-color: black;
    color: var(--picton-blue);
    border: 4px solid black;
  }
}
