.diverse-teams__title {
  font-size: 72px;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}

.diverse-teams__content {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media (max-width: 950px) {
    grid-template-columns: auto;
  }

  grid-gap: 50px;
  margin-top: 50px;
}

.diverse-teams__image {
  background-image: url('/assets/diverse-teams.jpg');
  background-position: center center;
  background-size: cover;
  height: 367px;
}

.diverse-teams__content__description {
  font-size: 18px;
  color: var(--cod-gray);
  margin-top: 0;
  line-height: 34px;

  /* & span {
    max-width: 470px;
  } */
}
