@import url('./header-content/_styles.css');
@import url('./cover/_styles.css');

.header {
  position: relative;
  overflow: hidden;
  display: flex;
  height: 780px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 780px) {
    height: 500px;
    background-image: url('/assets/home/header/header-small.jpg') !important;
    background-size: cover;
    background-position: center center;
    z-index: 1;
  }
}
