@import url("./header-content/_styles.css");
@import url("./cover/_styles.css");

.header {
  position: relative;
  overflow: hidden;
  height: 780px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @media (max-width: 620px) {
    height: 500px;
    background-image: url('/assets/home/header/header-image.jpg') !important;
    background-size: cover;
    background-position: center center;
  }
}
