.whats-new__content__tiles {
  display: grid;
  grid-template-columns: repeat(3, minmax(282px, 100%));
  padding-left: 0;
  grid-gap: 40px;

  @media (max-width: 950px) {
    grid-template-columns: repeat(2, minmax(282px, 100%));
    justify-content: center;
    justify-items: center;
  }

  @media (max-width: 620px) {
    grid-template-columns: repeat(1, minmax(282px, 100%));
    text-align: left;
  }
}

.whats-new__content__rows {
  display: grid;
  grid-template-rows: 0fr 2fr;
}

.item-1 {
  width: 100%;
}

.item-2 {
  width: 100%;
}
.item-3 {
  width: 100%;
}

.whats-new__content__tile {
  height: 100%;
  background: white;
  filter: drop-shadow(0px 8px 5px rgba(204, 202, 202, 0.5));
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  text-decoration: none;

  article {
    padding: 12px;
    display: inline-block;
    justify-content: space-between;
    flex-direction: column;
  }

  h4 {
    margin: 0;
    font-family: Montserrat;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(0, 0, 0);
    line-height: 30px;

    &:hover {
      color: var(--picton-blue);
    }
  }

  p {
    font-family: Montserrat;
    font-size: 16px;
    color: #000000;
    text-decoration: none solid rgb(0, 0, 0);
    line-height: 25px;
    margin-bottom: 25px;
    cursor: text;
    pointer-events: none;
  }

  span {
    position: absolute;
    display: block;
    bottom: 13px;
    font-size: 16px !important;
    line-height: 18px !important;
  }
}

.whats-new__content__tile__thumb {
  background-size: cover;
  background-position: center center;
  padding-bottom: 56.25%;
  height: 0;
}

.whats-new__content__facebook {
  display: grid;
  grid-template-columns: 0fr 2fr;
  padding-left: 0;
  grid-gap: 2px;
}

p.whats-new__content__time {
  margin: 0px;
  font-size: 13px;
  color: gray;
}

.u-youtube {
  margin-bottom: 0px !important;
}
