.welcome {
  margin-top: 150px;
  background-color: white;
  line-height: 18px;

  @media (max-width: 620px) {
    margin-top: 100px;
    padding-bottom: 60px;
  }
}

.welcome__content__description {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 100px;

  @media (max-width: 950px) {
    grid-template-columns: auto;
    grid-gap: 0;
    margin-top: 0;
  }
}

.welcome__content__description__image {
  margin-top: 18px;
}

.welcome__content__title {
  line-height: 70px;
}
