.alumni {
  margin-top: 150px;
  background-color: white;
  @media (max-width: 620px) {
    margin-top: 100px;
    padding-bottom: 60px;
  }
}

.alumni__content__description {
  text-align: right;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-gap: 200px;

  @media (max-width: 950px) {
    grid-template-columns: auto;
    grid-gap: 0;
    margin-top: 0;
  }
}

.alumni__content__description__image {
  margin-top: 18px;
}
