.nav {
  align-items: center;
  background-color: transparent;
  border-bottom: solid white 4px;
  color: white;
  display: flex;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  height: 131px;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav__menu {
  margin-right: 10%;
}

.nav__logo {
  margin-left: 10%;
}

.nav__menu__item {
  display: inline;
  margin-left: 36px;
}
