.nav {
  background-color: transparent;
  color: white;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 700;
  height: 131px;
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  border-bottom: solid white 4px;
  align-items: center;
}

.nav__item {
  display: inline;
  margin-left: 36px;
}
