.tracks__track-image {
  background-color: #f2f2f2;
}

.tracks__track-image-content__image {

  &--se {
    background-image: url('/assets/tracks/se/header.jpg');
  }

  &--pm {
    background-image: url('/assets/tracks/pm/header.jpg');
  }

  &--ixd {
    background-image: url('/assets/tracks/ixd/header.jpg');
  }

  &--ai {
    background-image: url('/assets/tracks/ai/header.jpg');
  }
  
  background-size: cover;
  background-position: center center;
  height: 0;
  width: 80%;
  padding-bottom: 30%;
  margin-top: -8%;
  box-shadow: 12px 12px 26px rgba(0, 0, 0, 0.15);
  z-index: 1;

  @media (max-width: 850px) {
    width: 100%;
    padding-bottom: 60%;
  }
}

.tracks__track-image-content {
  display: flex;
  justify-content: center;
}