.wyl-content__info {
  color: white;
}

.wyl-content__info__description-box {
  @media (min-width: 850px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 70px;
  }
}

.wyl-content__title {
  font-weight: 700;
  margin-top: 90px;
  margin-bottom: 40px;
  font-size: calc(32px + 3vw);

  @media (max-width: 850px) {
    margin-top: 50px;
  }

  @media (min-width: 1280px) {
    font-size: 72px;
  }
}

.wyl-content__subtitle {
  font-size: calc(12px + 0.4vw);
  font-weight: 700;
  margin-bottom: 70px;

  @media (max-width: 850px) {
    margin-bottom: 30px;
  }

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.wyl-content__info__description-box__text {
  font-size: calc(12px + 0.4vw);

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.wyl-content__info__description-box__text p:nth-child(1) {
  margin: 0;
}

.wyl-content__info__description-box__text p:nth-child(2) {
  margin-bottom: 50px;
}

.wyl-content__info__description-box__image {
  &--pm {
    background-image: url('/assets/tracks/pm/dps-product-manager-what-you-learn.jpg');
  }

  &--se {
    background-image: url('/assets/tracks/se/what-you-learn.jpg');
  }

  &--ixd {
    background-image: url('/assets/tracks/ixd/dps-interaction-designer-what-you-learn.jpg');
  }

  &--ai {
    background-image: url('/assets/tracks/ai/what-you-learn.jpg');
  }

  &--pmc {
    background-image: url('/assets/tracks/pmc/what-you-learn.jpg');
  }

  &--ac {
    background-image: url('/assets/tracks/ac/what-you-learn.jpg');
  }

  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  margin-bottom: -70px !important;
  box-shadow: 12px 12px 26px rgba(0, 0, 0, 0.15);
}

.wyl-content__background {
  @media (min-width: 850px) {
    position: absolute;
    top: -100px;
    left: 15%;
    right: -10%;
    bottom: 100px;
    z-index: -1;
  }
}

.wyl-content__info {
  background-color: var(--deep-cove) !important;

  @media (min-width: 850px) {
    width: 90%;
    position: relative;
  }
}

.wyl-content__info-w {
  @media (min-width: 850px) {
    box-sizing: border-box;
    padding-right: 10%;
  }
}
