.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000bf;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  border-radius: 10px;
  position: relative;
  width: 500px;
  height: 600px;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  flex-direction: column;

  & p {
    font-size: 14px;
    line-height: 23px;
  }

  & button {
    margin-top: 10px;
    width: 150px;
    text-transform: lowercase;
    height: 38px;
    border-width: 2px;
    border-radius: 5px;
    font-weight: 300;
    font-size: 16px;
  }

  @media (max-width: 620px) {
    display: block;
    width: 80%;
    height: 60%;
    padding: 20px;
    overflow: auto;

    & button {
      margin-top: 20px;
      margin-bottom: 15px;
    }
  }
}
