.hash-list-item {
  display: flex;
  font-size: calc(12px + 0.4vw);
  margin-bottom: 30px;
  align-items: center;

  @media (min-width: 1280px) {
    font-size: 18px;
  }
}

.hash-list-item__hash {
  font-size: 48px;
  margin-right: 20px;
  font-weight: 800;
  color: rgba(37, 37, 37, 0.25);

  @media (max-width: 850px) {
    font-size: 36px;
  }
}
