.our-approach__process {
  display: grid;
  grid-gap: 20px;
  padding-left: 0;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.our-approach__process__step__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.our-approach__process__step__description {
  font-size: 14px;
  line-height: 24px;
}
