:root {
  --gallery: #EDEDED;
  --cerulean: #03B8E5;
  --cod-gray: #171717;
  --black-pearl: #060A26;
  --bigstone: #182542;
  --picton-blue: #28c6f3;
  --hollywoord-cerise: #dd04a5;
  --yellow-sea: #ffa70e;
  --wisteria: #8f61b2;
  --picton-blue: #28c6f3;
}
