.u-outline {
  -webkit-text-stroke: 3px white;
  -webkit-text-fill-color: transparent;

  @media (max-width: 620px) {
    -webkit-text-stroke: 2px
  }
}

.u-content {
  max-width: var(--max-width);
  width: 90%;
  margin: 0 5%;
}

.u-content-wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
}
