@import url('./variables.css');

@import url("./components/header/styles.css");
@import url("./components/nav/styles.css");


html, body, #app {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
}

#app {
  margin: 0 auto; /* center content */
   /* every child with position: absolute (the video tag) will be positioned according to #app
      This is important, because #app defines the basic container for the content and we want to
      position everything in relation to this container
   */
  position: relative;
  max-width: var(--max-width);
}
