@import url('./_variables.css');
@import url('./_utils.css');
@import url('./_colors.css');

@import url("./components/header/_styles.css");
@import url("./components/nav/_styles.css");
@import url("./components/footer/_styles.css";


html, body, #app {
  font-family: Montserrat;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}
