.tool-partner {
  margin-top: 138px;
  margin-bottom: 66px;
}

.tool-partner__content__logo {
  width: 100px;
}

.tool-partner__content__logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 5fr;
  grid-gap: 10px;
  justify-items: center;

  & > div {
    & img {
      width: 100%;
    }

    & p {
      font-size: 9px;
      line-height: 25px;
      margin-top: -20px;
    }

    justify-self: flex-end;
    width: 234px;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "logos-1 logos-2 logos-3 logos-4"
      "staats-logo staats-logo staats-logo staats-logo";

    & > div {
      margin-top: 50px;
      margin-left: 10px;
      grid-area: staats-logo;
      justify-self: flex-start;
    }

    & > a {
      justify-self: flex-start;
    }
  }

  @media (max-width: 620px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
      "logos-1 logos-2"
      "logos-3 logos-4"
      "staats-logo staats-logo";
  }
}
