.header {
  position: relative;
  display: grid;
  justify-items: center;
  max-height: var(--max-header-height);
  overflow: hidden;
  width: 100%;
}

.header__more-icon {
  width: 70px;
  margin-top: 75px;
  color: var(--gallery);
  cursor: pointer;

  & svg g path {
    fill: var(--gallery) !important;
    transition: fill 0.1s;
  }

  &:hover {
    & svg g path {
      fill: white !important;
      transition: fill 0.1s;
    }
  }

  @media (max-width: 1640px) {
    visibility: hidden;
  }
}
