.tracks__header {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tracks__header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 12%;
}

.tracks__header-content__title {
  margin-bottom: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  font-size: calc(32px + 3vw);
  margin-top: 131px;

  @media (min-width: 1280px) {
    font-size: 72px;
  }
}

.tracks__header-content__description {
  color: white;
  max-width: var(--max-width);
  font-weight: 700;
  margin-bottom: 30px;
  font-size: calc(14px+ 0.7vw);
  line-height: 34px;

  @media (min-width: 1280px) {
    font-size: 24px;
  }
}

.tracks-header__apply-button-wrapper {
  margin: 40px 0;
  display: flex;
  justify-content: center;
}

.tracks-header__apply-button {
  margin-bottom: -30px;
  background: transparent;
  border-color: white;
  color: white;
  @media (min-width: 620px) {
    width: auto;
    padding: 0 30px;
  }
}
