.schedule-speakers {
  margin-top: 150px;
  background-color: white;
  text-align: left;
  @media (max-width: 620px) {
    margin-top: 100px;
    padding-bottom: 60px;
  }
}

.schedule-speakers__content__description {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-gap: 0px;

  @media (max-width: 950px) {
    grid-template-columns: auto;
    grid-gap: 0;
    margin-top: 50px;
  }
}

.schedule-speakers__tab__title {
  padding-top: 50px;
  text-align: left;
}

.schedule__button {
  margin-top: 40px;
  margin: auto;
  width: 504px;
  @media (max-width: 620px) {
    width: 100%;
  }
}
