:root {
  --gallery: #EDEDED;
  --cod-gray: #171717;
  --black-pearl: #060A26;
  --bigstone: #182542;
  --hollywoord-cerise: #DD04A4;
  --yellow-sea: #FFA70E;
  --wisteria: #4E1A75;
  --picton-blue: #28C5F3;
  --deep-cove: #071346;
}
