:root {
  --gallery: #ededed;
  --cod-gray: #171717;
  --black-pearl: #060a26;
  --bigstone: #182542;
  --hollywoord-cerise: #dd04a4;
  --yellow-sea: #ffa70e;
  --wisteria: #4e1a75;
  --picton-blue: #28c5f3;
  --midnight-blue: #0a06b3;
  --deep-cove: #071346;
  --ocean-green: #44ad73;
}
