@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

@import url('./_variables.css');
@import url('./_utils.css');
@import url('./_colors.css');

@import url('./components/shared/nav/_styles.css');
@import url('./components/shared/pick-track/_styles.css');
@import url('./components/shared/footer/_styles.css');
@import url('./components/shared/cookie-warning/_styles.css');
@import url('./components/shared/modal/_styles.css');
@import url('./components/shared/header/_styles.css');

@import url('./components/home/header/_styles.css');
@import url('./components/home/pitch/_styles.css');
@import url('./components/home/diverse-teams/_styles.css');
@import url('./components/home/dps-corona/_styles.css');
@import url('./components/home/remote-collaboration/_styles.css');
@import url('./components/home/the-setting/_styles.css');
@import url('./components/home/user-first/_styles.css');
@import url('./components/home/our-program/_styles.css');
@import url('./components/home/adac/_styles.css');
@import url('./components/home/whats-new/_styles.css');

@import url('./components/partners/header/_styles.css');
@import url('./components/partners/experience-matters/_styles.css');
@import url('./components/partners/industry-partners/_styles.css');
@import url('./components/partners/tool-partner/_styles.css');

@import url('./components/legal-disclosure/legal-content/_styles.css');
@import url('./components/privacy-policy/privacy-content/_styles.css');

@import url('./components/our-program/header/_styles.css');
@import url('./components/our-program/take-opportunity/_styles.css');
@import url('./components/our-program/experience-concentrate/_styles.css');
@import url('./components/our-program/teams/_styles.css');
@import url('./components/our-program/pillars/_styles.css');
@import url('./components/our-program/our-approach/_styles.css');
@import url('./components/our-program/who-should-apply/_styles.css');
@import url('./components/apply/dps-pitch/_styles.css');

@import url('./components/tracks/header/_styles.css');
@import url('./components/tracks/track-image/_styles.css');
@import url('./components/tracks/what-you-learn/_styles.css');
@import url('./components/tracks/offer-responsibilities/_styles.css');
@import url('./components/tracks/list-item/_styles.css');
@import url('./components/tracks/expectations/_styles.css');
@import url('./components/tracks/apply/_styles.css');

@import url('./components/application/header/_styles.css');
@import url('./components/application/form/_styles.css');

@import url('./pages/tracks/product-management/_styles.css');
@import url('./pages/tracks/interaction-design/_styles.css');
@import url('./pages//tracks/software-engineering/_styles.css');
@import url('./pages/tracks/artificial-intelligence/_styles.css');
@import url('./pages/application/software-engineering/_styles.css');
@import url('./pages/team/_styles.css');

@import url('./components/faq/_styles.css');

html,
body,
#app {
  font-family: Montserrat;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* background-color: black; */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.a {
  cursor: pointer;
}

h3 {
  font-weight: 800;
  font-size: 72px;

  @media (max-width: 620px) {
    font-size: 32px;
  }
}

.not-found_content-image {
  width: 80%;
}

.not-found__content-text {
  margin-top: 20px;
  margin-bottom: 40px;
}
