@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,800');

@import url('./_variables.css');
@import url('./_utils.css');
@import url('./_colors.css');

@import url("./components/shared/header/nav/_styles.css");
@import url('./components/shared/pick-track/_styles.css');
@import url("./components/shared/footer/_styles.css");
@import url("./components/shared/cookie-warning/_styles.css");

@import url("./pages/home/header/_styles.css");
@import url("./pages/home/pitch/_styles.css");
@import url("./pages/home/diverse-teams/_styles.css");
@import url("./pages/home/experience-matters/_styles.css");
@import url("./pages/home/user-first/_styles.css");
@import url('./pages/home/our-program/_styles.css');
@import url('./pages/home/adac/_styles.css');
@import url("./pages/home/tool-partner/_styles.css");
@import url('./pages/home/industry-partners/_styles.css');
@import url('./pages/home/whats-new/_styles.css');

@import url('./pages/legal-disclosure/legal-content/_styles.css');
@import url('./pages/privacy-policy/privacy-content/_styles.css');

@import url('./pages/our-program/header/_styles.css');
@import url('./pages/our-program/take-opportunity/_styles.css');
@import url('./pages/our-program/experience-concentrate/_styles.css');
@import url('./pages/our-program/teams/_styles.css');
@import url('./pages/our-program/pillars/_styles.css');
@import url('./pages/our-program/our-approach/_styles.css');
@import url('./pages/our-program/who-should-apply/_styles.css');

@import url('./pages/apply/dps-pitch/_styles.css');
@import url('./pages/apply/product-management/_styles.css');
@import url('./pages/apply/interaction-design/_styles.css');
@import url('./pages/apply/software-engineering/_styles.css');
@import url('./pages/apply/artificial-intelligence/_styles.css');

@import url('./components/tracks/header/_styles.css');
@import url('./components/tracks/track-image/_styles.css');
@import url('./components/tracks/what-you-learn/_styles.css');
@import url('./components/tracks/offer-responsibilities/_styles.css');
@import url('./components/tracks/list-item/_styles.css');
@import url('./components/tracks/expectations/_styles.css');
@import url('./components/tracks/apply/_styles.css');


html, body, #app {
  font-family: Montserrat;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  /* background-color: black; */
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.a {
  cursor: pointer;
}

h3 {
  font-weight: 800;
  font-size: 72px;

  @media (max-width: 620px) {
    font-size: 52px;
  }
}
