.about {
  font-family: Montserrat;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  line-height: 27px;
  text-align: left;

  @media (max-width: 950px) {
    font-size: 12px;
    line-height: 20px;
  }
}

.about__logo {
  height: 49px;
  margin-top: 60px;

  @media (max-width: 950px) {
    height: 31px;
    margin-top: 28px;
  }
}

.about__logo__utum {
  height: 64px;
  margin-left: 12px;

  @media (max-width: 950px) {
    height: 37px;
  }
}

.about__runby {
  height: 54px;
  margin-top: 50px;

  @media (max-width: 950px) {
    margin-top: 15px;
  }
}

.about__link {
  height: 28px;
  font-weight: 700;
  line-height: 28px;
  color: #ffffff;
  text-decoration: none solid rgb(255, 255, 255);
  text-transform: uppercase;
}

a.about__link:hover {
  color: var(--picton-blue);
}

.about__address {
  margin-top: 19px;

  @media (max-width: 950px) {
    margin-left: 0;
  }
}

.about__address__content {
  height: 140px;
  line-height: 28px;
}
