.faq__navheader {
  max-height: 80vh;
  height: 800px;
  position: relative;
  top: -133px;
  z-index: -1;
  background: url(/assets/faq/background.jpg) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 620px) {
    padding-top: 50px;
    font-size: 36px;
    height: 450px;
  }
}

.faq__navheader-overlay {
  background-color: #fea11f;
  opacity: 0.65;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.faq__navheader__title {
  padding-top: 75px;
  color: white;
  padding: 20px;
  font-size: 80px;
  font-weight: 900;
  z-index: 1;
  margin-top: 191px;
  margin-bottom: 191px;

  @media (max-width: 620px) {
    padding-top: 75px;
    font-size: 42px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
