.experience-matters {
  margin-top: 150px;
}

.experience-matters__content {
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-gap: 50px;

  @media (max-width: 950px) {
    grid-template-columns: auto;
    grid-gap: 0;
  }
}

.experience-matters__content__image {
  background-image: url('/assets/home/experience-matters/experience-matters.jpg');
  background-position: center center;
  background-size: cover;
  height: 367px;
  margin-left: -118px;
  display: flex;
  align-items: center;
  position: relative;

  @media (max-width: 950px) {
    margin-left: 0;
  }
}

.experience-matters__content__image__text {
  font-size: 84px;
  font-weight: 800;
  color: white;
  display: inline;
  display: inline-block;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0;
  text-transform: uppercase;

  @media (max-width: 620px) {
    font-size: 40px;
  }

  &--stroked {
    padding-bottom: 15px;
    padding-left: 15px;

    @media (max-width: 620px) {
      padding-bottom: 10px;
      padding-left: 10px;
    }

    & span {
      visibility: hidden;
    }
  }
}

.experience-matters__content__image-dotted {
  background-image: url('/assets/home/experience-matters/points-pattern.png');
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -1;

  @media (max-width: 950px) {
    display: none;
  }
}

.experience-matters__content__description {
  font-size: 18px;
  color: var(--cod-gray);
  margin-top: 0;
  line-height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }

  & li {
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;

    & > img {
      width: 150px;
    }
  }
}
