.nav {
  position: absolute;
  background-color: transparent;
  border-bottom: solid var(--gallery) 2px;
  display: grid;
  justify-items: center;
  height: var(--nav-height-desktop);
  width: 100%;

  @media (max-width: 620px) {
    height: var(--nav-height-mobile);
  }
}

.nav__content {
  align-items: center;
  color: white;
  display: grid;
  font-size: 14px;
  font-weight: 700;
  grid-auto-flow: column;
  justify-content: space-between;

  @media (max-width: 620px) {
    justify-content: center;
  }
}

.nav__menu {
  padding: 0;

  @media (max-width: 620px) {
    font-size: 16px;
  }
}

.nav__menu__item {
  display: inline;
  margin-left: 18px;
  margin-right: 18px;
}

.nav__logo {
  height: 49px;

  @media (max-width: 620px) {
    display: none;
  }
}
