.network {
  background-color: var(--deep-cove);
  color: white;
}

.network__list {
  display: grid;
  grid-gap: 20px;
  padding-left: 0;
  grid-template-columns: repeat(auto-fit, minmax(233px, 1fr));
  margin-top: 90px;
  margin-bottom: 90px;
}

.network__list__item {
  padding-top: 50px;
}

.network__list__item__icon-wrapper {
  text-align: center;
  height: 87px;
  @media (max-width: 762px) {
    padding-right: 0%;
  }
}

.network__list__item__icon-wrapper__img {
  width: auto;
  height: 87px;
}

.network__list__item__title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 0;
  text-align: center;
}

.network__list__item__description {
  font-size: 14px;
  line-height: 24px;
}
